.select {
    background-color: white;
    border: none;
    border-radius: 8px;
    outline: none;

    padding: 10px 20px;
    width: 130px;

    text-align: center;
    font-weight: 500;

    appearance: none;
}
