.searchInput {
    position: relative;

    margin: auto;
    width: 50%;

    transition: all 500ms ease;

    &.focused {
        width: 100%;

        span {
            border: 2px solid white;
            box-shadow: 0px 0 12px white;

            transform: rotate(360deg);
        }
    }

    input {
        border-radius: 50px;
        outline: none;

        padding: 15px 30px;
        width: 100%;

        &::-webkit-search-cancel-button {
            display: none;
        }

        &::placeholder {
            font-weight: 500;
        }
    }

    span {
        background-color: black;
        border: 2px solid transparent;
        border-radius: 100%;

        position: absolute;
        top: -1px;
        right: -10px;

        padding: 8px 10px;

        transition: all 500ms ease;

        img {
            filter: invert(1);
        }
    }
}
