.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: auto;
    padding: 15px;
    max-width: 1440px;

    h1 {
        font-size: 26px;
        color: white;
    }

    img {
        filter: brightness(0) invert(1);
    }
}
