.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: auto;
    padding: 15px;
    max-width: 1440px;

    h1 {
        font-size: 26px;
        color: white;

        cursor: pointer;
    }

    button {
        background: transparent;
        border-radius: 5px;

        padding: 3px 5px;

        cursor: pointer;
        transition: all 300ms ease-in-out;

        &:hover {
            background-color: white;

            img {
                filter: initial;
            }
        }

        img {
            transition: all 300ms ease-in-out;
            filter: brightness(0) invert(1);
        }
    }
}
